.container{
  max-width: 1208px;
  width: 100%;
  margin: auto;
}
@font-face {
  font-family: 'rubik-400';
  src: url(../public/fonts/Inter-Light.ttf);
}
@font-face {
  font-family: 'rubik-700';
  src: url(../public/fonts/Inter-Bold.ttf);
}


.page-content{
    background: #FBF8EC;
    padding: 60px 0;
}